$whiteColor: #fff;
$darkColor: rgba(0, 0, 0, 0.8);
$width: auto;
$radius: 5px;

.modal {
  // background of modal dialog
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $darkColor;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.15s linear;

  &--close {
    animation: fade-out 0.15s linear;
    opacity: 0;
  }

  &__dialog {
    width: $width;
    background-color: $whiteColor;
    border-radius: $radius;
    position: relative;
    margin: 0.5rem;
    padding: 1rem;
    animation: fade-in 0.15s linear;

  }

  &__header,
  &__footer {
    padding: 10px;
  }

  &__title {
    margin: 0;
  }

  &__body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}