@import '../../Assets/Styles/variables';

.footer {
	width: 100%;
	min-height: auto;
	background-color: #0d3700d8;
	font-family: $fontBitter;
}

.footer_main_box {
	width: auto;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 15px;
}

.footer_first_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	justify-content: center;
	border-right: 1px solid #b7b7b7c2;
	padding: 10px;	
	max-width: 50%;
}

.footer_first_block span {
	font-size: $s10;
	text-align: start;
	margin: 10px 0;
}

.footer_first_block, h2, h5 {
margin: 0;
}

.footer_second_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px;
	margin: 10px;
}

.footer_second_block {
	padding: 5px;
}

.footer_copyright {
	text-align: center;
	padding: 5px;
	color: #b7b7b7;
}