.footer {
	width: 100%;
	min-height: 15vh;
	background-color: #145401d8;
}

.footer_main_box {
	width: auto;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 5px;
}

.footer_first_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	justify-content: center;
	padding: 5px;
	margin: 10px;
}

.footer_second_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px;
	margin: 10px;
}

.footer_second_block {
	padding: 5px;
}

.footer_copyright {
	text-align: center;
}