@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Bitter:wght@500&family=Kalam&family=Kaushan+Script&display=swap');

//colors
$white: #fff;

//fonts
$fontBitter: 'Bitter', serif;
$fontKalam: 'Kalam', cursive;

//font sizes
$s24: 2.4rem;
$s20: 2rem;
$s17: 1.7rem;
$s15: 1.5rem;
$s14: 1.4rem;
$s12: 1.2rem;
$s10: 1rem;
$s06: 0.6rem;
