@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Bitter:wght@500&family=Kalam&family=Kaushan+Script&display=swap');

//colors
$white: #fff;

//fonts
$fontBitter: 'Bitter', serif;
$fontKalam: 'Kalam', cursive;

//font sizes
$size24: 2.4rem;
$size20: 2rem;
$size17: 1.7rem;
$size15: 1.5rem;
$size14: 1.4rem;
$size12: 1.2rem;
$size10: 1rem;
$size06: 0.6rem;
