@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Bitter:wght@500&family=Kalam&family=Kaushan+Script&display=swap');

$em-mobile-l: 35em; // 560px
$em-tablet: 48em; // 768px
$em-desktop: 64em; // 1024px

//breakpoints
$mq-mobile-large: 'screen and (max-width:'+ $em-mobile-l +' )'; // Up to 560px / base value of 16px
$mq-tablet: 'screen and (max-width: ' + $em-tablet + ' )'; // Up to 768px / base value of 16px
$mq-desktop: 'screen and (max-width: ' + $em-desktop + ')'; //Up to 1024px / base value of 16px

@mixin mobile-large {
    @media #{$mq-mobile-large} {
      @content;
    }
  }
  
  @mixin tablet {
    @media #{$mq-tablet} {
      @content;
    }
  }
  
  @mixin desktop {
    @media #{$mq-desktop} {
      @content;
    }
  }

//colors
$white: #fff;

//fonts
$fontBitter: 'Bitter', serif;
$fontKalam: 'Kalam', cursive;

//font sizes
$s65: 6.5rem;
$s28: 2.8rem;
$s24: 2.4rem;
$s20: 2rem;
$s17: 1.7rem;
$s15: 1.5rem;
$s14: 1.4rem;
$s12: 1.2rem;
$s10: 1rem;
$s08: 0.8rem;
$s06: 0.6rem;
