body {
    position: relative;
}

.message {
  position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    &-container {
        background-color: bisque;
    }
    &-fade-out {
      animation: message-fade-out 2s linear;
    opacity: 0;
    }
}



@keyframes message-fade-out {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0;
    }
  }
  
//   @keyframes message-fade-out {
//     0% {
//       opacity: 1;
//       transition: -webkit-transform 0.3s ease-out;
//       transition: transform 0.3s ease-out;
//       transition: transform 0.3s ease-out,
//         -webkit-transform 0.3s ease-out;
//       -webkit-transform: translate(0, 0px);
//       transform: translate(0, 0px);
//     }
  
//     100% {
//       opacity: 0.15;
//       transition: -webkit-transform 0.3s ease-out;
//       transition: transform 0.3s ease-out;
//       transition: transform 0.3s ease-out,
//         -webkit-transform 0.3s ease-out;
//       -webkit-transform: translate(0, -50px);
//       transform: translate(0, -50px);
//     }
//   }