body {
    position: relative;
}

.message {
  position: absolute;
    top: 0px;
    left: 50%;
    margin: 0;
    &-container {
        background-color: bisque;
    }
    &-fade-out {
      animation: fade-out 3s;
      opacity: 0;
    }
    &-fade-in {
      animation: fade-in 1s;
    }
    
}


@keyframes fade-out {
  0%{
    opacity: 1;
      
      transform: translate(0, 0px);
  }
  100% {
      opacity: 0;
      
      transform: translate(0, -50px);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
      
      transform: translate(0, -50px);
  }
  100% {
      opacity: 1;
      
      transform: translate(0, 0px);
  }
}
