@import '../../Assets/Styles/variables';

body {
    position: relative;
    
}

.message {
  position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    
    &-container {
        background-color: #fafafa;
        min-width: 500px;
        min-height: 60px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        overflow: hidden;
    }
    &-text {
      display: flex;
      flex-direction: column;
      &-title {
        font-size: $s15;
        padding: 0;
        margin: 0;
        font-weight: 700;
      }
      &-description {
        font-size: $s12;
        line-height: 1;
        margin: 0;
        color: #7d7d7d;      
      }
      
    }
    &-indication-error {
      width: 5px;
      min-height: 100%;
      background-color: $danger;
      &-icon {
        fill: $danger;
        width: 45px;
        height: 45px;
        align-self: center;
      }
    }
    &-indication-primary {
      width: 5px;
      min-height: 100%;
      background-color: $primary;
      &-icon {
        fill: $primary;
        width: 45px;
        height: 45px;
        align-self: center;
      }
    }
    &-indication-warning {
      width: 5px;
      min-height: 100%;
      background-color: $warning;
      &-icon {
        fill: $warning;
        width: 45px;
        height: 45px;
        align-self: center;
      }
    }
    &-indication-info {
      width: 5px;
      min-height: 100%;
      background-color: $info;
      &-icon {
        fill: $info;
        width: 45px;
        height: 45px;
        align-self: center;
      }
    }
    &-indication-success {
      width: 5px;
      min-height: 100%;
      background-color: $success;
      &-icon {
        fill: $success;
        width: 45px;
        height: 45px;
        align-self: center;
      }
    }
    &-fade-out {
      animation: fade-out 0.8s;
      opacity: 0;
    }
    &-fade-in {
      animation: fade-in 1s;
    }
    
}

.cust-btn {
  align-self: center;
}


@keyframes fade-out {
  0%{
    opacity: 1;
      transform: translate(0, 0);
  }
  100% {
      opacity: 0;
      transform: translate(0, -60px);
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
      
      transform: translate(0, -60px);
  }
  100% {
      opacity: 1;
      
      transform: translate(0, 0);
  }
}
